@import url(http://fonts.googleapis.com/css?family=Lora);

nav#pages-nav ul li {
  display: inline-block;
  float: right;
  background: black;
}
nav#pages-nav ul li a {
  text-decoration: none;
  padding: 0 1em;
  color: white;
  margin: 1em;
}

body {
  font-family: 'Lora', serif;
  background-image: url('http://pensacolanotaryservices.files.wordpress.com/2014/08/under-construction.jpg');
  background-size: cover;
  overflow: auto;
}
#headshot {
  border-radius: 2em;
}

.site-header {
  background: black;
}


.page-link a {
  color: white;
}
