@import url(http://fonts.googleapis.com/css?family=Lora);

#resume{
  background-image: url('/img/brillant.png');
  box-shadow: 10px 10px 5px #888888;
  padding: 5em;
  
  section{
    clear: both;
  }
  
  h1{
    border-bottom: 1px solid black;
  }

  #preamble{
    display: block; 
  }
  #jobs{
    & > ul{
      list-style: none;
    }
  }
}

